WatcherClientApp/Service References/ScreenShotReceiverReference/ScreenShotReceiver3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10397/ScreenShotReceiver/ScreenShotReceiver.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScreenShotReceiver" />
  <xs:element name="Upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ScreenShotReceiver" minOccurs="0" name="composite" nillable="true" type="q1:ImageUpload" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>