WatcherClientApp/Service References/ScreenShotReceiverReference/ScreenShotReceiver1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScreenShotReceiver" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScreenShotReceiver" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ImageUpload">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaptureTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PCGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageUpload" nillable="true" type="tns:ImageUpload" />
</xs:schema>