WatcherClientApp/Service References/ScreenShotReceiverReference/ScreenShotReceiver1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ScreenShotReceiver" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScreenShotReceiver" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10397/ScreenShotReceiver/ScreenShotReceiver.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ImageUpload">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PCGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageUpload" nillable="true" type="tns:ImageUpload" />
</xs:schema>